@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body{
    font-family: "Share Tech Mono", monospace;
    background-color: black;
    color: white;
    text-align: center;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 42px;
}

a{
    color: white;
    font-size: 32px;
    text-decoration: none;
}

a:visited{
    color: white;
}

a:hover{
    color: lightgray;
}